{% extends 'gradesApp/base.html' %}
{% block body_block %}

<div class="jumbotron" style="background-color: #2d2d44;">
   {% if registered %}
		<h1>You have been succesfully registered.<br>Please Log in!</h1>
	{% else %}
		<h1>Registration for Students:</h1>
		<form action="" method="POST">
			{% csrf_token %}
			<table>
				{{ var_studentForm.as_table }}
				{{ var_studentAddForm.as_table }}
			</table>
			<input type="submit" value="Register" class="btn btn-primary">
		</form>
	{% endif %}
</div>


{% endblock %}
