{% extends 'gradesApp/base.html' %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
        <h2>Student Dash</h2>
        <hr>
        <table class="table">
            
            <thead class="thead-dark">
                <th>Data Structures</th>
                <th>Digital Logic Design</th>
                <th>Discrete Maths</th>
                <th>Linear Algebra</th>
            </thead>
            <tr>
                <td>{{ markslist.ds }}</td>
                <td>{{ markslist.dld }}</td>
                <td>{{ markslist.dm }}</td>
                <td>{{ markslist.la }}</td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}